<section id="first-section">
    <input type="checkbox" id="check">
    <header id="first-header">
        <h2><a href="" class="logo"><img src="../../assets/w-chat-logo.webp" alt=""></a></h2>
        <div class="navigation">
            <a href="#inside">Home</a>
            <a href="#second-section">About</a>
            <a href="">Features</a>
            <a href="#footer">Contact</a>
            <a class="reg-btn" routerLink="/register">Register</a>
            <a class="reg-btn" routerLink="/login">Login</a>       
        </div>
        <label for="check">
            <i class="fas fa-bars menu-btn"></i>
            <i class="fas fa-times close-btn"></i>

        </label>
    </header>


    <div id="inside" class="inside-section">
        <div class="row">
            <div class="col-4 bg-dar "></div>
            <div id="head-name" class="col-4 bg-primar" >
                
                <h1>W Chat</h1> 
                <hr class="divider" />
            </div>

            <div class="col-4 bg-warnin"></div>
        </div>

        
        
        <!-- <div class=" align-items-center justify-content-center text-center">

        <div id="head-name" class="col-lg-8 align-self-end">
            <h1 class="text-white font-weight-bold">W     Chat</h1>
            <hr class="divider" />
        </div>
    </div> -->

    <div class="content">
        <div class="info">
            <h2>Message privately <br> <span>a new era of messaging</span></h2>
            <p>Simple, reliable, private messaging and calling for free*, available all over the world.</p>
            <a href="#second-section" class="info-btn">More Info</a>
        </div>

    </div>

    <div class="media-icons">
        <a href="https://www.youtube.com/@GaneshDaBLiYuLalW874" ><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.youtube.com/@GaneshDaBLiYuLalW874"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.youtube.com/@GaneshDaBLiYuLalW874"><i class="fa-brands fa-instagram"></i></a>

    </div>

    </div>

</section>

<section id="second-section" >
    <h1>Why W-Chat?</h1>

    <div class="emoji-section">
        
    
    <div>
        <div class="card" style="width: 18rem;">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/0ff20093658133.5e98bef30e665.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Simple</h5>
              <p class="card-text">W-Chat is so simple you already know how to use it.</p>
            </div>
          </div>
    </div>

    <div>
        <div class="card" style="width: 18rem;">
            <img id="img2" src="https://media.tenor.com/5ue3I7c8hi8AAAAC/utya.gif" width="50%" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Private</h5>
              <p class="card-text">W-Chat messages are heavily encrypted and can self-destruct.</p>
            </div>
          </div>
    </div>

    <div>
        <div class="card" style="width: 18rem;">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4ed8ad93658133.5e98ba7e52191.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Synced</h5>
              <p class="card-text">W-Chat lets you access your chats from multiple devices.</p>
            </div>
          </div>
    </div>

</div>

<div class="emoji-section">

    <div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/originals/21/d1/04/21d104d2eea1771e63b8c95f2e966220.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fast</h5>
              <p class="card-text">W-Chat delivers messages faster than any other application.</p>
            </div>
          </div>
    </div>

    

    <div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/originals/54/b0/66/54b0668c53f715ffb5a0c039484cf87c.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Secure</h5>
              <p class="card-text">W-Chat keeps your messages safe from hacker attacks.</p>
            </div>
          </div>
    </div>

    <div>
        <div class="card" style="width: 18rem;">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e513d993658133.5e98ba7eb4da9.gif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Simple</h5>
              <p class="card-text">W-Chat is so simple you already know how to use it.</p>
            </div>
          </div>
    </div>

</div>

    

</section>


<section id="third-section">
    <div class="container-fluid">

        <div id="content" class=" row">
            <div id="content-text" class="col-5">
                <h1>W-chat is now 
                    <br><span>on the web!</span></h1>
                <h2>Chat, Snap, and video call your friends from wherever you are.</h2>

            </div>

            <div id="content-img" class="col-4">
<img width="300" src="https://i.postimg.cc/hP4kNSfJ/316211879-640016534274402-8272733547019635528-n.png" alt="">

            </div>
        </div>

    </div>
</section>


<!-- footer  -->

<footer id="footer">
    <div class="footer-content">
        <h3>W Chat</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit laborum enim quia harum ab recusandae, mollitia, neque reprehenderit ullam expedita eaque doloremque quos aliquam numquam amet eos at sed?</p>
        <ul class="socials">
            <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>


        </ul>
    </div >

    <div class="footer-bottom">
        <p>Copyright &copy; 2023 <a href="">www.wchat.com</a> designed by <span>Ganesh</span> </p>
            
    </div>
</footer>