#container{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(212, 168, 213);
    flex-direction: column;
}

#header{
    /* flex-basis: 65px; */
    min-height: 65px;
    background-color: darkcyan;
    box-shadow: 4px 0px 4px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatarSection{
display: flex;

}
.avatarSection .picture{
    min-width: 40px;
    min-width: 40px;
    margin: 0 10px;
}
.avatarSection .picture img{
    border-radius: 50%;

}

/* .avatarSection .picture img{
    max-width: 100%;
} */

.avatarSection .nameSection{
    flex-grow: 1;
    /* padding-top: -2px; */
    margin-top: -5px;
    margin-left: 10px;
    color:rgba(62, 56, 56, 0.691) ;
    font-size: 28px;
    color: beige;
}

.actionButtons{
min-width: 50px;
/* width: 50px; */
/* background-color: black; */
}

.actionButtons i{
    cursor: pointer;
}


#header-content{
    background-color: rgb(76, 139, 0);
}
#body{
    flex-grow: 1;
    background-color: rgb(218, 213, 185);
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 20px 50px;
    overflow-y: scroll;
}

#body .message {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 10px;
    color: rgba(107, 87, 87, 0.572);

    
}
#body .message .me{ 
    background-color: rgb(177, 44, 44);
    align-items: flex-end;
}


#body .message .messageContent{
    background-color: rgb(167, 167, 110);
    border-radius: 5px;
    padding: 10px;
}

.messageContent .time{
    text-align: right;
    color: rgb(122, 104, 79);
    font-size: 12px;
    margin-top: 5px;
}
#footer{
    /* flex-basis: 70px; */
    min-height: 70px;

    background-color: rgb(210, 196, 196);
    display: flex;
}
#footer-smiley{
flex-basis: 100px;
display: flex;
align-items: center;
justify-content: space-evenly;
}
#footer-smiley i{
font-size: 20px;
cursor: pointer;
}

#footer-text{
flex-grow: 1;
display: flex;
align-items: center;
}
#footer-text textarea{
    width: 100%;
    height: 50px;
    border: 0px;
    border-radius: 4px;
    resize: none;
    outline: none;
    padding: 14px;
    box-sizing: border-box;

}
#footer-text input{
    width: 100%;
    height: 50px;
    border: 0px;
    outline: none;
    border-radius: 4px;
    padding: 14px;
}

#footer-mic{
    flex-basis: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-mic i{
    cursor: pointer;
}